.container-fluid {
    padding: 0 !important;
}

/*.container-fluid .col-sm-6 {*/
/*    padding-right: 0 !important;*/
/*}*/

button {
    color: white;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
}

.choice-number {
    position: absolute;
    top: 2px;
}

.choiceOneContainer {
    width: 35%;
    float: left;
    padding-left: 66px;
    padding-top: 5px;
    position: relative;
    word-break: break-all;
}

.choiceTwoContainer {
    width: 35%;
    padding-top: 5px;
    padding-left: 26px;
    position: relative;
    word-break: break-all;
}

.green {
    background-color: #4CAF50;
}

.blue {
    background-color: DodgerBlue;
}

.containerWrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 3%;
    overflow: scroll;
}

.containerWrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0.2rem;
    font-family: 'Open Sans', sans-serif;
}

.choices {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 7px;
    top: 17px;
    justify-content: left;
}

.choiceOneContainer p,
.choiceTwoContainer p {
    margin-top: -2px;
    font-weight: normal;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
    margin: .7rem .5rem .5rem 0;
}

.center-vid {
    padding-right: 42px;
    position: fixed;
    width: 62%;
}

/* The container */
.container {
    position: absolute;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0.5rem;
    width: 146px;
}

/* Hide the browser's default radio button */
.choiceOneContainer input,
.choiceTwoContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 38px;
    top: 9px;
    z-index: 10;
}

.choiceTwoContainer input {
    left: -6px;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 7px;
    left: 35px;
    height: 20px;
    width: 20px;
    background-color: rgba(63, 63, 63, 0.09);
    border-radius: 50%;
    border: solid 1px rgb(241, 6, 253);
}

/* On mouse-over, add a grey background color */
.choiceOneContainer:hover input ~ .checkmark,
.choiceTwoContainer:hover input ~ .checkmark {
    background-color: #D8D8D8;
}

/* When the radio button is checked, add a blue background */
.choiceOneContainer input:checked ~ .checkmark,
.choiceTwoContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.choiceOneContainer input:checked ~ .checkmark:after,
.choiceTwoContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.choiceOneContainer .checkmark:after,
.choiceTwoContainer .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.check {
    margin-top: 2rem;
}

.choice-bullet .container:nth-child(2) {
    position: absolute;
    left: 173px;
    width: 146px;
}

.choiceTwoContainer .checkmark {
    left: -6px;
}

body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#div-question_answer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container2.choice {
    height: 150%;
}

/* Above CSS for monitors with screen width 1366px or above */

/*  Below CSS for tablets in landscape mode, older desktop monitors */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {

}

/*  Tablets in portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .containerWrapper {
        grid-column-gap: unset;
    }

    p {
        font-size: 1rem;
    }

    button {
        font-size: 1.2rem;
    }

    .checkmark {
        top: 6px;
        left: 35px;
        height: 16px;
        width: 16px;
    }

    .choiceOneContainer .checkmark:after, .choiceTwoContainer .checkmark:after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    .center-vid {
        width: 56%;
    }

}

/*  Smartphones in landscape mode */

@media only screen and (min-width: 421px) and (max-width: 767px) {

    .containerWrapper {
        display: grid;
        grid-template-columns: 50% auto;
    }

    .choices {
        top: 5px
    }

    p {
        font-size: 0.7rem;
    }

    button {
        font-size: 1rem;
    }

    .checkmark {
        top: 6px;
        left: 21px;
        height: 12px;
        width: 12px;
    }

    .choiceOneContainer .checkmark:after, .choiceTwoContainer .checkmark:after {
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
    }

    .choiceOneContainer {
        padding-left: 40px;
    }

    .choiceTwoContainer {
        padding-left: 16px;
    }

    .choiceTwoContainer input {
        left: -10px;
        top: 3px;
    }

    .choiceOneContainer input {
        left: 18px;
        top: 4px;
    }

    .choiceOneContainer .checkmark:after, .choiceTwoContainer .checkmark:after {
        top: 4px;
        left: 4px;
        width: 5px;
        height: 5px;
    }

    .center-vid {
        padding-right: 0;
        width: 52%;
    }

}

/*  Smartphones in portrait mode  */
@media only screen and (min-width: 426px) and  (max-width: 459px) {
    #div-question_answer {
        padding-left: 25px !important;
    }

    .choiceOneContainer, .choiceTwoContainer {
        width: 30% !important;
    }

    .choiceOneContainer {
        padding-left: 50px !important;
    }

    .choiceTwoContainer {
        padding-left: 30px !important;
    }

    .choice-number {
        left: 3rem !important;
    }

    .check {
        text-align: center;
    }
}

@media only screen and (min-width: 460px) and  (max-width: 568px) {
    .choiceOneContainer, .choiceTwoContainer {
        width: 20% !important;
        padding-left: 25px;
        justify-content: center;
    }

    .choice-number {
        left: 7rem !important;
        top: 4px;
    }

    .checkmark {
        left: 0 !important;
    }

    .check {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .choices {
        justify-content: center;
    }

    .choice-number {
        left: 0;
    }

    .choiceOneContainer, .choiceTwoContainer {
        width: 50%;
    }
}

@media only screen and (max-width: 420px) {
    .container2.choice {
        height: 200%;
    }

    .choice-number p {
        font-size: 1.2rem;
    }

    body {
        margin: 0;
    }

    .containerWrapper {
        display: block;
        padding-bottom: 395px;
        height: 100%;
        overflow: hidden;
    }

    .center-vid {
        z-index: 1;
    }

    .container2.vid {
        position: fixed;
        z-index: 100;
        background-color: #fff !important;
        padding-bottom: 22px;
        margin-left: 0;
        margin-right: 0;
        z-index: 0;
    }

    .container2.choice {
        padding-left: 0;
    }

    #div-question_answer {
        /*width: 287px;*/
        margin: 0px auto;
        /*padding-top: 231px;*/
    }

    .checkmark {
        position: absolute;
        top: 8px;
        left: 26px;
        height: 12px;
        width: 12px;
    }

    .choiceOneContainer {
        /*padding-left: 46px;*/
        /*padding-top: 6px;*/
        /*width: 50%;*/
    }

    .choiceTwoContainer {
        /*padding-left: 15px;*/
    }

    .choiceOneContainer .checkmark:after, .choiceTwoContainer .checkmark:after {
        top: 4px;
        left: 4px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: white;
    }

    .choiceOneContainer p, .choiceTwoContainer p {
        font-size: 1rem;
    }

    .choice-number p {
        font-size: 1rem;
    }

    .choiceOneContainer input {
        left: 15px;
        top: 2px;
    }

    button {
        font-size: 0.8rem;
    }

    .check {
        text-align: center;
        /*margin-right: 137px;*/
    }

    .container2.choice {
        height: 200%;
        /*padding-left: 50px;*/
    }

}