button {
    color: white;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: none;
	border-radius: .2rem;
	cursor: pointer;
}
.green {
    background-color: #4CAF50;
}
.blue {
    background-color: DodgerBlue;
}

.containerWrapper {
	display: grid;
	grid-template-columns: 66% auto;
	grid-column-gap: 5%;
	overflow: scroll;
}

.containerWrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
}

body {
	margin: 0.2rem;
    font-family:'Open Sans',sans-serif;
}
.choices {
	display: flex;
	justify-content: left;
	align-items: center;
}
p {
	font-size: 1.3rem;
	font-weight: 700;
	margin: .7rem .5rem .5rem 0;
}

.container2 {
    height: 150%;
}


.container2.vid {
    position: fixed;
    width: 66%;
}

/* The container */
.container {
	position: relative;
	padding-left: 2rem;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 0.5rem;
}

/* Hide the browser's default radio button */
	.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: rgba(63, 63, 63, 0.09);
	border-radius: 50%;
	border: solid 1px rgb(241, 6, 253);
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #D8D8D8;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.check {
	margin-top: 2rem;
}

body {
	overflow: scroll;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}


  
/* Above CSS for monitors with screen width 1366px or above */

/*  Below CSS for tablets in landscape mode, older desktop monitors */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {

}

/*  Tablets in portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	p {
		font-size: 1.1rem;
	}

	.container {
		font-size: 19px;
	}

	.container2.vid {
		width: 59%;
	}

    .containerWrapper {
        grid-template-columns: 60% auto;
        grid-column-gap: 3%;
	}

	.checkmark {
		top: 4px;
		left: 0;
		height: 17px;
		width: 17px;
	}

	.checkmark:after {
		top: 5px!important;
		left: 5px!important;
		width: 7px!important;
		height: 7px!important;
	}

	button {
		font-size: 1.2rem;
	}


}

/*  Smartphones in landscape mode */

@media only screen and (min-width: 421px) and (max-width: 767px) {
	.containerWrapper {
		grid-template-columns: 64% auto;
	}

	.checkmark {
		height: 7px;
		width: 7px;
		top: 3px;
		left: -5px;
	}

	p {
		font-size: 12px;
		margin: -0.3rem 0px .5rem 0;
		position: relative;
		top: 7px;
	}

	.container {
		font-size: 11px;
		padding-left: 6px;
	}

	.container .checkmark:after {
		top: 2px;
		left: 2px;
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: white;
	}

	button {
		font-size: 0.7rem;
		padding: 7px 10px 7px 10px;
	}

}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {

	body {
		margin: 0;
	}

    .containerWrapper {
		display: block;
		padding-bottom: 200px;
    }

    .container2.vid {
        position: fixed;
        z-index: 100;
        background-color: #fff!important;
        padding-bottom: 22px;
		width: 100%;
	}
	
	.choices {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.check {
		text-align: center;
	}

	#div-question_answer {
		overflow: scroll;
		padding-top: 224px;
	}

	button {
		color: white;
		font-size: 1rem;
		padding: .5rem 1rem;
		border: none;
		border-radius: .2rem;
		cursor: pointer;
	}
	
	.checkmark {
		top: 6px;
	}

	.container2 {
		height: fit-content;
	}

}